<footer class="b-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img class="b-footer__logo" src="images/content/logo.png" alt=""/>
            </div>
            <div class="col-xs-12 col-md-9">
                <ul class="b-footer__menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Экономические программы</a></li>
                    <li><a href="#">Cправка</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Галлерея</a></li>
                    <li><a href="#">Конференции</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="b-footer__copyright">© 2012-2015 <strong>Invest Production</strong></div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="b-footer__created"><a target="_blank" href="http://mymediapro.ru">Создание сайта</a> MyMediaPro</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>