<footer class="b-footer">
    <div class="container">
        <div class="b-carusel">
            <ul class="slides">
                <li><img src="images/content/b-foter_gal1.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal2.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal3.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal1.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal2.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal3.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal1.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal2.jpg" alt=""/></li>
                <li><img src="images/content/b-foter_gal3.jpg" alt=""/></li>
            </ul>
        </div>
    </div>
</footer>