<div class="b-testimonial">
    <div class="b-testimonial__avatar">
        <img src="images/content/avatar_otz.jpg" alt="Иван Корольков"/>
    </div>
    <div class="b-testimonial__mainp">
        <div class="b-testimonial__header">
            <div class="b-testimonial__author">Иван Корольков</div><div class="b-testimonial__author-city">Астана, Казахстан</div>
        </div>
        <div class="b-testimonial__content">
            <p>Задача организации, в особенности же сложившаяся структура организации позволяет оценить значение существенных финансовых и административных условий.</p>
            <div class="b-testimonial__content-hide">
                <p>Задача организации, в особенности же сложившаяся структура организации позволяет оценить значение существенных финансовых и административных условий.</p>
                <p>Задача организации, в особенности же сложившаяся структура организации позволяет оценить значение существенных финансовых и административных условий.</p>
            </div>
        </div>
        <div class="b-testimonial__bottom">
            <a class="b-testimonial__rm" href="#">Читать далее</a>
        </div>
    </div>
</div>