<div class="b-vtestimonial">
    <a class="b-vtestimonial__link" href="video-testimonial.html" title="Смотреть отзыв"></a>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <a class="b-vtestimonial__img-link" href="video-testimonial.html"><img src="images/content/video-prev.jpg" alt="Иван Корольков"/></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="b-testimonial__header">
                <div class="b-vtestimonial__author">Иван Корольков</div><div class="b-vtestimonial__author-city">Астана, Казахстан</div>
            </div>
        </div>
    </div>
</div>