@@include('blocks/_head.html')
@@include('blocks/_b-header.html')
<header class="b-header" style="background-image:url(images/content/news-bg.jpg);">
    <div class="b-header__top-container">
        <div class="container">
            <div class="b-header__top">
                <a href="#" class="b-header__logo"></a>
                <nav class="b-topnav hidden-sm hidden-xs">
                    <table>
                        <tr>
                            <td>
                                <a class="b-topnav__link" href="#">О нас</a>
                            </td>
                            <td>
                                <a class="b-topnav__link" href="#">Экономические программы</a>
                            </td>
                            <td>
                                <a class="b-topnav__link" href="#">Законодательная справка</a>
                            </td>
                            <td>
                                <a class="b-topnav__link" href="#">Отзывы</a>
                            </td>
                            <td>
                                <a class="b-topnav__link" href="#">Конференции</a>
                            </td>
                            <td>
                                <a class="b-topnav__link" href="#">Новости</a>
                            </td>
                            <td>
                                <a class="b-topnav__link" href="#">Контакты</a>
                            </td>
                        </tr>
                    </table>
                </nav>
                <div class="b-header__mright">
                    <button class="b-header__mobtn js-openmenu"></button>
                </div>
            </div>
        </div>
    </div>
    <ul class="b-mtopnav hidden-md hidden-lg">
        <li class="b-mtopnav__item"><a class="b-mtopnav__link" href="#">О нас</a></li>
        <li class="b-mtopnav__item"><a class="b-mtopnav__link" href="#">Экономические программы</a></li>
        <li class="b-mtopnav__item"><a class="b-mtopnav__link" href="#">Законодательная справка</a></li>
        <li class="b-mtopnav__item"><a class="b-mtopnav__link" href="#">Отзывы</a></li>
        <li class="b-mtopnav__item"><a class="b-mtopnav__link" href="#">Конференции</a></li>
        <li class="b-mtopnav__item"><a class="b-mtopnav__link" href="#">Новости</a></li>
        <li class="b-mtopnav__item"><a class="b-mtopnav__link" href="#">Контакты</a></li>
    </ul>
    <div class="b-header__login visible-xs">
        <a href="#">Войти</a>
        <a href="#">зарегистрироватся</a>
    </div>
    <div class="container">
        <div class="b-header__brow">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="b-breadcrumb">
                        <div class="b-breadcrumb__item">
                            <a class="b-breadcrumb__link" href="#">Главная страница</a>
                        </div>
                        <div class="b-breadcrumb__item">О Нас</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 hidden-xs">
                    <div class="b-header__login">
                        <a href="#">Войти</a>
                        <a href="#">зарегистрироватся</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-header__promo">
            <h1 class="b-header__title">НОВОСТИ</h1>
            <h2 class="b-header__subtitle">Компания проводит Конференции онлайн, на которых Вы можете услышать руководителей компаний, партнеров. Получить своевременную информацию и задать интересующие Вас вопросы.</h2>
        </div>
    </div>
</header>
<section class="b-page__content">
    <div class="container">
        <article class="b-news">
            <h1 class="b-news__title">Безопасность — один из основных приоритетов жизни</h1>
            <time class="b-news__time" datetime="2014-11-20 00:00">20 Ноябрь 2014</time>
            <div class="b-text">
                <p>Во-вторых, процесс длительного жевания именно семечек — хороший вариант для частого, к сожалению, явления — заедания стресса. Почему хороший? Потому что, заедая стресс котлетами и булками, человек больше растягивает желудок. Да и наедаешься в конце концов. Семечки — дело другое. Даже совесть дам, следящих за фигурой, остаётся практически чиста.</p>
                <p><img src="images/content/image2.jpg" alt=""/></p>
                <p>В-третьих, компания, конечно! Каждый из нас знает этот момент, когда и не думал и не хотел эти семечки жевать, но кто-то принёс — и вот уже не оторваться. Происходит заражение процессом. Поддерживать разговор с человеком за семечками легче: заполняются возможные неловкие паузы, создаётся ощущение единого пространства, потому что люди заняты одним делом. Нечто подобное происходит с курильщиками: кто-то один предлагает закурить — и вот некурящему в этой компании вдруг становится некомфортно.</p>
                <p>Ещё одна причина — соль. Солёные семечки, как правило, более желанны. Хотеться солёненького может по ряду физиологических причин, будь то беременность, ускоренный метаболизм, нехватка некоторых минералов и микроэлементов (кальций, калий, йод), неправильная работа щитовидной железы и тот же хронический стресс.</p>
                <p>Рассматривая все эти причины в комплексе, понимаешь, почему оторваться от семечек практически нереально.</p>
            </div>
            <div class="b-news__bottom">
                <a class="b-paging__prev pr-button" href="#">Вернутся на главную</a>
            </div>
        </article>
    </div>
</section>
@@include('blocks/_b-footer-content.html')
@@include('blocks/_b-footer.html')