.b-post{
    &__p{
        $font-size: 28;
        font-size: em($font-size);
        font-weight: 400;
        position: relative;
        overflow: hidden;
        padding: em(20, $font-size) 0;
        .text{
            display: inline-block;
            position: relative;
            padding-right: em(28, $font-size);
            &:after{
                content: "";
                display: block;
                width: 1000px;
                position: absolute;
                top: 50%;
                height: 1px;
                background-color: rgba(0,0,0,.07);
                left: 100%;
            }
        }
    }
    &__rm{
        display: none;
    }
    img{
        max-width: 100%;
    }
}