.b-postprev{
    padding-bottom: em(40);
    &:last-child{
        padding-bottom: 0;
    }
    &__title{
        $font-size: 19;
        font-size: em($font-size);
        color: rgba(6, 127, 222, 0.988);
        font-weight: 700;
        a{
            color: inherit;
        }
    }
    &__image{
        display: block;
        width: 100%;
        border:3px solid #fff;
        box-shadow:0 0 em(6) rgba(0,0,0,.09);
    }
    &__time{
        display: block;
        $font-size: 13;
        font-size: em($font-size);
        padding: em(8, $font-size) 0 em(8, $font-size) em(22, $font-size);
        background: url(../images/b64/time.png) no-repeat left center;
        position: relative;
        &:after{
            content:"";
            display: block;
            position: absolute;
            bottom: em(-5, $font-size);
            left: 0;
            width: em(25, $font-size);
            height: em(3, $font-size);
            background-color: #e5e5e5;
        }
    }
    &__image-link{
        display: block;
    }
    &__readmore{
        $font-size: 13;
        font-size: em($font-size);
        $background-color:#fdc706;
        background: $background-color;
        font-weight: 700;
        display: inline-block;
        padding: em(12, $font-size) em(22, $font-size);
        line-height: 1.5;
        text-decoration: none;
        transition: background-color .3s;
        border-radius:em(3, $font-size);
        &:hover{
            background-color: lighten($background-color, 20);
        }
    }
    &__content{
        padding: em(14) 0;
    }
    &__bottom{
        padding: em(13) 0 0;
    }
}