.b-text{
    p{
        $font-size: 13;
        font-size: em($font-size);
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
        line-height: 1.3;
        padding: em(7, $font-size) 0;
    }
    img{
        max-width: 100%;
        box-sizing: border-box;
        border:4px solid #fff;
        box-shadow: 0 0 6px rgba(0,0,0,.09);
    }
    h2{
        $font-size: 28;
        font-size: em($font-size);
        font-weight: 300;
    }
}