.b-testimonial{
    border-bottom:1px solid #f2f2f2;
    padding-bottom: em(17);
    margin-bottom: em(32);
    &__author{
        $font-size: 15;
        font-size: em($font-size);
        display: inline-block;
        font-weight: 400;
        padding-right: em(22, $font-size);
        vertical-align: middle;
        margin: em(5, $font-size) 0;
    }
    &__author-city{
        $font-size: 13;
        font-size: em($font-size);
        display: inline-block;
        font-weight: 400;
        background-color: #f3f0eb;
        border-radius:em(15, $font-size);
        padding: em(6, $font-size) em(14, $font-size);
        vertical-align: middle;
    }
    &__content{
        padding: em(14) 0 em(8);
        p{
            $font-size: 14;
            font-size: em($font-size);
            font-weight: 400;
        }
    }
    &__rm{
        $font-size: 13;
        font-size: em($font-size);
        font-weight: 400;
        color: #d30000;
    }
    &__avatar{
        float: left;
        padding-right: em(27);
        img{
            display: block;
            max-width: 100%;
            border-radius: em(40);
        }
    }
    &__mainp{
        overflow: hidden;
    }
    &__content-hide{
        display: none;
    }
}